<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </nav>
  <div class="row">

    <div class="col-12 col-md-4">
      <img src="/uploads/Nishan.jpeg" class="img-fluid sticky-top" style="top: 20px;" alt="Nishan" loading="lazy">
    </div>

    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12"><h1>Nishan Murarka</h1></div>
        
        <div class="col-12" style="white-space: pre-line;">
          <h6>Hey everyone I am Nishan, a final year undergrad at IIEST Shibpur. I have my major in Electronics and Telecommunication Engg. I am a big time movie freak. Contact me for some great movie recommendations. <br><br> I have made this project as a part of my placement preparation. <br> This project uses <b>HTML</b>, <b>CSS</b>,<b>JS </b> and <b>Bootstrap</b>  for Frontend and <b>Node.js</b>, <b>Express</b>, <b>EJS</b> for Backend. <b>MongoDB</b> for Database. <br> <br>This project aims to categorise the different development projects. Each project is provided with the tech stacks used along with explaination.  </h6>
          
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-12">
          <h4>&ensp; Education</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> BTech. IIEST Shibpur 2024</li>
            <li class="list-group-item">Class 12th VSN 2020</li>
            <li class="list-group-item">Class 10th VSN 2018</li>
          </ul> 
        </div>
      </div>
    </div>
  </div>