<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </nav>
  <div class="row">

    <div class="col-12 col-md-2">
      <img src="/uploads/Nishan.jpg" class="img-fluid sticky-top" style="top: 20px;" alt="Nishan" loading="lazy">
    </div>

    <div class="col-12 col-md-10">
      <div class="row">
        <div class="col-12"><h1>Nishan Murarka</h1></div>
        <div class="col-12" style="white-space: pre-line;">
          <h6>Hey everyone I am Nishan, a final year undergrad at IIEST Shibpur. I have my major in Electronics and Telecommunication Engg.
              <br> This site aims to collect the Interview Experiences of all the companies that have visited our campus. Kindly make a PDF of your experience and share it with us.  </h6>
        </div>
      </div>
      <!-- <div class="row pt-4">
        <div class="col-12">
          <h4>&ensp; Education</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> BTech. IIEST Shibpur 2024</li>
            <li class="list-group-item">Class 12th VSN 2020</li>
            <li class="list-group-item">Class 10th VSN 2018</li>
          </ul> 
        </div>
      </div> -->
    </div>
  </div>
